{% extends "layout.njk" %}

{% block links %}
            <a href="/">
                <img src="../layout/assets/logo.png" alt="">
            </a>
            <a href="/about">Sobre</a>
            <a href="/recipes">
            <strong>Receitas</strong>
            </a>
{% endblock %}



{% block content %}

    <div class="recipe-image">
        <img src={{items.image}} alt="">
    </div>

    <div class="title-wrapper">
        <h1 class="title">{{items.title}}</h1>
        <p class="author">por {{items.author}}</p>
    </div>

    <div class="ingrediente-wrapper">
        <div class="ingrediente-title-wrapper">
            <strong>Ingredientes</strong>
            <button class="showHide" id="ingrediente">Esconder</button>
        </div>
        <div class="ingrediente-content">
            <ul>
                {% for ing in items.ingredients%}
                <li>{{ing}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>    

    <div class="preparo-wrapper">
        <div class="preparo-title-wrapper">
            <strong>Modo de preparo</strong>
            <p class="showHide" id="preparo">Esconder</p>
        </div>
        <div class="preparo-content">
            <ul>
                {% for prep in items.preparation%}
                <li>{{prep}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>    

    <div class="info-wrapper">
        <div class="info-title-wrapper">
            <strong>Informações adicionais</strong>
            <p class="showHide" id="info">Esconder</p>
        </div>
        <div class="info-content">
            <p>{{items.information}}</p>
        </div>
    </div>    
{% endblock %}

{% block foot %}
    <script src="/scripts_recipe.js"></script>
{% endblock %}