{% extends "layout.njk" %}

{% block content %}

    <section class="recipes">

        {% for receita in items %}
        <div class="recipe" id="{{items.indexOf(receita)}}">
            <div class="recipe-logo">
                <img src={{receita.image}}>
            </div>
            <div class="recipe-content">
                <p>{{receita.title}}</p>
            </div>
            <div class="recipe-info">
                <p>por {{receita.author}}</p>
            </div>
        </div>
        {% endfor %}
    </section>

{% endblock %}

    {% block foot %}
    <script src="/scripts.js"></script>
    {% endblock %}